<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="main" class="snippet-hidden align-self-start" id="main">
    <div class="row" >
        <div class="col-md-8 col-xl-9  col-lg-9 col-sm-8">

            <div class="row">
                <h2>Исследуйте вопросы на сайте</h2>
                <button type="button" class="btn btn-primary float-right" href="#"  id="askQuest">Задать вопрос</button>
            </div>
            <div class="nav-col btn-group  btn-block mr-0">
                <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                <button type="button" class="btn btn-sm">тэг 2</button>
                <button type="button" class="btn btn-sm">тэг 3</button>
                <button type="button" class="btn  btn-sm ">тэг 4</button>
                <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
            </div>
            <div class="nav-col btn-group  btn-block mr-0   ">
                <button type="button" class="btn  btn-sm   active ">тэг 6</button>
                <button type="button" class="btn btn-sm">тэг 7</button>
                <button type="button" class="btn btn-sm">тэг 8</button>
                <button type="button" class="btn  btn-sm ">тэг 9</button>
                <button type="button" class="btn  btn-sm overflow-hidden">тэг 10</button>
            </div>
            <div class="nav-col btn-group  btn-block mr-0   ">
                <button type="button" class="btn  btn-sm   active " href="#">Интересные</button>
                <button type="button" class="btn btn-sm"href="#">Конкурсные</button>
                <button type="button" class="btn btn-sm" href="#">Популярные</button>
                <button type="button" class="btn  btn-sm " href="#">За неделю</button>
                <button type="button" class="btn  btn-sm" href="#">За месяц</button>
            </div>
            <div style= "min-height:350px">
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-2 mx-auto">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> голосов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> ответов</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="text-align: center;">
                                    <small style="display: inline-block;">0 <br /> показов</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 href="#" class="mb-1">Какой то вопрос</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="nav-col btn-group  btn-block mr-0   ">
                            <button type="button" class="btn  btn-sm   active ">тэг 1</button>
                            <button type="button" class="btn btn-sm">тэг 2</button>
                            <button type="button" class="btn btn-sm">тэг 3</button>
                            <button type="button" class="btn  btn-sm ">тэг 4</button>
                            <button type="button" class="btn  btn-sm overflow-hidden">тэг 5</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group-item">
            <div class="text-right">
                <button type="button" class="btn btn-primary" href="#" id="otherQuest">Посмотреть другие вопросы</button>
            </div>
        </div>
        </div>
        <div class="row-md-4 col-xl-3  col-lg-3 col-sm-4">
            <div class="tag-tracked-ignore-container">

                    <div class="tag-tracked-container">
                        <hr>
                        <div align="center">
                            <h5>
                                <span>Отслеживаемые метки</span>
                            </h5>
                        </div>
                        <hr>
                        <ul id = "listTagTracked">
                        </ul>
                        <onsubmit >
                            <div align="center">
                                <input type="text" id="add-tag-tracked"  size="20"  placeholder="добавить метку">
                                <button class="btn btn-primary" id="buttonTagTracked">+</button>
                            </div>
                        </onsubmit >
                    </div>

                    <div class="tag-ignore-container">
                        <hr>
                        <div align="center">
                            <h5>
                                <span>Игнорируемые метки </span>
                            </h5>
                        </div>
                        <hr>
                        <ul id = "listTagIgnore">
                        </ul>
                        <onsubmit >
                            <div align="center">
                                <input type="text" id="add-tag-ignore"  size="20"  placeholder="добавить метку">
                                <button class="btn btn-primary" id="buttonTagIgnore">+</button>
                            </div>
                        </onsubmit >
                    </div>
            </div>

            <table class="table" id="mainCountTag">
                <thead>
                <tr>
                    <th><h4 id="h4Tag">Недавние метки</h4></th>
                </tr>
                </thead>
                <tbody id="mainTag">
                </tbody>
            </table>

        </div>
    </div>

    <div th:fragment="styleheader">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--// говорим системе что нужно считывать плотность пикселей устройства
        // и при необходимости делать шрифт крупней-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <!--// Подключаем собственно стили  bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/sidebar.css">
    </div>
    <script src="/static/js/tagTrackedIgnore.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>

</div>

</body>
</html>