<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>

<body>


<div th:fragment="sidebar">
    <div class="col-md-3 col-xl-2  col-lg-2 col-sm-3" id="sidebar">
        <div class="nav-col btn-group-vertical  btn-block mr-0   ">
            <button type="button" class="btn  btn-sm   active ">Главная</button>
            <button type="button" class="btn btn-sm">Вопросы</button>
            <button type="button" class="btn btn-sm">Метки</button>
            <button type="button" class="btn  btn-sm ">Участники</button>
            <button type="button" class="btn  btn-sm overflow-hidden">Неотвеченные</button>
        </div>
    </div>
</div>

</body>
</html>