li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 1px; /* Отступ слева в браузере IE и Opera */
    padding-left: 1px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}