<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--// говорим системе что нужно считывать плотность пикселей устройства
        // и при необходимости делать шрифт крупней-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <!--// Подключаем собственно стили  bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <!-- Latest compiled and minified CSS bootstrap-select-->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    </div>
</head>
<style>
    li {
        list-style-type: none; /* Убираем маркеры */
    }
    ul {
        margin-left: 6px; /* Отступ слева в браузере IE и Opera */
        padding-left: 6px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }



</style>
<body>

<div class="container-fluid" id="mainContainer">
    <div class="row content">
        <div class="col-lg-2 field ">

            <div class="sidebar-header">
                    <h3> Some header</h3>
                    </div>

                    <ul>
                        <li class="active">
                            <a  data-toggle="collapse" aria-expanded="false" class="dropdown-toogle">Home</a>
                            <ul class=" list unstyled" id="homeSubMenu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a  data-toggle="collapse" aria-expanded="false" class="dropdown-toogle">Page</a>
                            <ul class=" list unstyled" id="pageSubMenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"> About us</a>
                        </li>
                        <li>
                            <a href="#"> Contact</a>
                        </li>

                    </ul>

                    <div class="sidebar-footer">
                        <h5> Some footer</h5>
                    </div>
        </div>
    </div>
</div>






<!--<div class= sidebar id="sidebar">-->

<!--    <div class="sidebar-header">-->
<!--    <h3> Some header</h3>-->
<!--    </div>-->

<!--    <ul>-->
<!--        <p>Dummy Heading</p>-->
<!--        <li class="active">-->
<!--            <a href="#homeSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toogle">Home</a>-->
<!--            <ul class=" list unstyled" id="homeSubMenu">-->
<!--                <li>-->
<!--                    <a href="#">Home 1</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">Home 2</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">Home 3</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li >-->
<!--            <a href="#pageSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toogle">Page</a>-->
<!--            <ul class=" list unstyled" id="pageSubMenu">-->
<!--                <li>-->
<!--                    <a href="#">Page 1</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">Page 2</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">Page 3</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#"> About us</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#"> Contact</a>-->
<!--        </li>-->

<!--    </ul>-->

<!--    <div class="sidebar-footer">-->
<!--        <h5> Some footer</h5>-->
<!--    </div>-->


<!--</div>-->


<div id="pageContent">
<!--...-->
</div>
</body>
</html>